[Unit]
Description=kitten-server

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/kitten-server

[Install]
WantedBy=multi-user.target